---
import Layout from "../layout/Layout.astro";
import Button from "../components/Button.astro";
import GridSection from "../components/GridSection.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BoxImage from "../components/BoxImage.astro";

const title = "Luis Erick | UX/UI Designer";
---

<style>
  .hero-section {
    gap: 1.5rem;

    .text-group {
      gap: 0.75rem;
      max-width: 30rem;

      h1 {
        color: var(--semantic-quaternary);
      }

      span {
        color: var(--semantic-zero);
      }
    }

    .button-group {
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

  .about-images-group {
    --negative-gap: -0.5rem;

    align-self: center;
    flex-wrap: nowrap;
    margin-top: calc(-1 * var(--negative-gap));
    margin-left: calc(-1 * var(--negative-gap));
  }
</style>

<Layout title={title}>
  <!-- Sección de HERO -->
  <section class="flex-column hero-section">
    <div class="flex-column text-group">
      <h1 class="display-large">
        <span class="accent-large">Soy UX/UI Designer.</span><br />
        +5 años de experiencia a tu disposición.
      </h1>
      <p class="body-large">
        Me dedico a crear productos digitales para tu negocio o emprendimiento. ¡Hablemos!
      </p>
    </div>
    <div class="flex-row button-group">
      <Button
        size="MD"
        type="CTA"
        text="Cotiza tu proyecto"
        href="mailto:uxluismx@gmail.com"
        nameIcon="hand-left"
      />
      <Button size="MD" type="Light" text="Mis proyectos" href="#proyectos" />
    </div>
  </section>

  <!-- Sección de proyectos destacados -->
  <GridSection title="Proyectos destacados" nameIcon="medal-prize" id="proyectos">
    <ProjectCard
      title="eleventa 6 - Diseño de App (Proximamente)"
      description="Actualmente trabajando en este proyecto con el objetivo de ayudar a dueños de negocio para administrar la operación de sus comercios."
      imageName="project-eleventa"
      imageAlt="Imagen del proyecto eleventa 6"
      href="#"
      pill={["Flutter App", "Figma", "Desktop", "Mobile"]}
      newTab={false}
    />

    <ProjectCard
      title="LAVVA - Diseño de Web"
      description="Marca mexicana de Gimnasios de estudio que viene a sustituir a los gyms convencionales."
      imageName="project-lavva"
      imageAlt="Imagen del proyecto LAVVA"
      href="https://www.instagram.com/p/DVtZ0lOgO_J/?utm_source=portfolio_web&utm_medium=astro"
      pill={["Landing Page", "Framer", "Responsive"]}
    />

    <ProjectCard
      title="Unibetas - Diseño de Plataforma Web"
      description="Plataforma online que prepara estudiantes de bachillerato para diferentes exámenes de admisión de universidades mexicanas."
      imageName="project-unibetas"
      imageAlt="Imagen del proyecto Unibetas"
      href="https://www.instagram.com/p/DTJO7clkmUn/?utm_source=portfolio_web&utm_medium=astro"
      pill={["Web App", "Figma", "Desktop", "Mobile"]}
    />
  </GridSection>

  <!-- Sección de mi profesión -->
  <GridSection title="Mi profesión" nameIcon="tool-pencil-ruler-alt" id="mi-profesion">
    <p class="display-smallest color-quaternary">
      <span class="accent-smallest color-primary">🚀 Todo comenzó en 2019, </span>viendo pequeños
      cursos de UX Research y UI.
    </p>
    <p class="display-smallest color-quaternary">
      <span class="accent-smallest color-primary">2020, 2021, 2022, 2023... ⏳</span><br />
      Actualizándome y laborando en proyectos reales. SaaS, E-learning, Fintech, Social, y otros giros.
    </p>
    <p class="display-smallest color-quaternary">
      😉 Siempre he trabajado
      <span class="accent-smallest color-primary"> Full Remoto, </span>
      dándome la oportunidad de laborar en empresas de Perú, Chile, Colombia y México.
    </p>
    <p class="display-smallest color-quaternary">
      Siempre soy agradecido por las experiencias que viví, las personas que conocí y
      <span class="accent-smallest color-primary"> los retos que vendrán. 🎖️</span>
    </p>
  </GridSection>

  <!-- Sección de sobre mí -->
  <GridSection title="Sobre mí" nameIcon="user-profile" id="sobre-mi">
    <div class="about-images-group flex-row">
      <BoxImage name="imageProfile" alt="Imagen de Luis Erick" size={120} rotate={4} />
      <BoxImage name="imageProfile2" alt="Imagen de Luis Erick" size={120} rotate={-4} />
    </div>
    <p class="display-smallest color-quaternary">
      <span class="accent-smallest color-primary">Soy introvertido (INFJ) </span>
      y disfruto mucho mi tiempo a solas. Crear proyectos es mi hobbie favorito. 💪🏼
    </p>
    <p class="display-smallest color-quaternary">
      Me gusta ir de aventura y convivir en familia, mi viaje favorito es ir a la playita.<br />
      <span class="accent-smallest color-primary">En compañía es mejor 🏝️</span>
    </p>
    <p class="display-smallest color-quaternary">
      🥁 Soy fanático del
      <span class="accent-smallest color-primary"> #Hardstyle, </span>
      me gusta ver DJ Sets y descubrir nueva música cada semana.
    </p>
    <p class="display-smallest color-quaternary">
      ⚽ ️Practico el Futbol cómo deporte, ya sea en retas o en cancha de 11.
      <span class="accent-smallest color-primary"> ¡Yo me adapto!</span>
    </p>
  </GridSection>
</Layout>
