---
import Layout from "../layout/Layout.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import GridSection from "../components/GridSection.astro";
import BoxImageCombo from "../components/BoxImageCombo.astro";
import NewProjectCard from "../components/NewProjectCard.astro";

const isActive = "Inicio";
const title = `${isActive} | Luis Erick`;
---

<style>
  .projects-group {
    gap: 1.5rem;
  }
</style>

<Layout title={title} isActive={isActive}>
  <!-- Sección de HERO -->
  <Hero
    accentTitle="Soy Product Designer."
    title="Productos digitales para tu negocio."
    description="Diseño las webs y el software del futuro. +5 años de experiencia a tu disposición."
  >
    <div
      slot="afterContent"
      class="flex-row"
      style="gap: 1rem; flex-wrap: inherit;"
    >
      <Button text="Checa mis proyectos" href="/proyectos" nameIcon="medal-prize" />
      <Button type="Light" text="¡Contáctame!" href="mailto:uxluismx@gmail.com" />
    </div>
  </Hero>

  <!-- Sección de proyectos destacados -->
  <div class="projects-group flex-column">
    <NewProjectCard
      platform="Desktop"
      mockupFile="app-eleventa"
      businessName="eleventa 6"
      shortText="¡Próximamente!"
      pillText="Flutter App"
      pillIcon="code-square"
      slug="eleventa-6"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-lavva"
      businessName="LAVVA"
      shortText="Gym & Fitness"
      pillText="Landing page"
      pillIcon="pantone-color"
      href="https://www.instagram.com/p/DVtZ0lOgO_J/?utm_source=portfolio&utm_medium=proyectos"
      slug="lavva"
    />
    <NewProjectCard
      platform="Mobile"
      mockupFile="app-unibetas"
      businessName="Unibetas"
      shortText="E-learning"
      pillText="Web App"
      pillIcon="internet-earth"
      href="https://www.instagram.com/p/DTJO7clkmUn/?utm_source=portfolio&utm_medium=proyectos"
      slug="unibetas"
    />
  </div>

  <!-- Sección de mi profesión -->
  <GridSection title="Mi profesión" nameIcon="tool-pencil-ruler-alt" id="mi-profesion">
    <p class="display-smallest color-quaternary">
      <span class="accent-smallest color-primary">🚀 Todo comenzó en 2019, </span>viendo pequeños
      cursos de UX Research y UI.
    </p>
    <p class="display-smallest color-quaternary">
      <span class="accent-smallest color-primary">2020, 2021, 2022, 2023... ⏳</span><br />
      Actualizándome y laborando en proyectos reales. SaaS, E-learning, Fintech, Social, y otros giros.
    </p>
    <p class="display-smallest color-quaternary">
      😉 Siempre he trabajado
      <span class="accent-smallest color-primary"> Full Remoto, </span>
      dándome la oportunidad de laborar en empresas de Perú, Chile, Colombia y México.
    </p>
    <p class="display-smallest color-quaternary">
      Siempre soy agradecido por las experiencias que viví, las personas que conocí y
      <span class="accent-smallest color-primary"> los retos que vendrán. 🎖️</span>
    </p>
  </GridSection>

  <!-- Sección de sobre mí -->
  <GridSection title="Sobre mí" nameIcon="user-profile" id="sobre-mi">
    <BoxImageCombo />
    <p class="display-smallest color-quaternary">
      <span class="accent-smallest color-primary">Tengo 23 años, </span>
      soy introvertido (INFJ) y disfruto mucho mi tiempo a solas. Crear proyectos es mi hobbie favorito.
      💪🏼
    </p>
    <p class="display-smallest color-quaternary">
      Me gusta ir de aventura y convivir en familia, mi viaje favorito es ir a la playita.<br />
      <span class="accent-smallest color-primary">En compañía es mejor 🏝️</span>
    </p>
    <p class="display-smallest color-quaternary">
      ⚽ ️Practico el Futbol cómo deporte, ya sea en retas o en cancha de 11.
      <span class="accent-smallest color-primary"> ¡Yo me adapto!</span>
    </p>
    <p class="display-smallest color-quaternary">
      🥁 Soy fanático del Hardstyle, me gusta ver DJ Sets, descubrir nueva música y mantener mi
      playlist personal al día, <a
        href="https://open.spotify.com/playlist/1lpAziic4O8D0ayIgkf42c?si=7df917f61f67432f"
        class="accent-smallest color-primary"
        style="text-decoration: underline;">disponible en Spotify.</a
      >
    </p>
  </GridSection>
</Layout>
