---
import Template from "../layout/Template.astro";

var title = "Luis Erick | UX/UI Designer";
---

<head>
  <title>{title}</title>
</head>

<Template>
  <h1 class="display-large">{title}</h1>
  <p class="body-large">Welcome to my portfolio!</p>
</Template>
