---
import Layout from "../layout/Layout.astro";
import Hero from "../components/Hero.astro";
import Button from "../components/Button.astro";
import NewProjectCard from "../components/NewProjectCard.astro";

const title = "Luis Erick | Mis proyectos";
const isActive = "Proyectos";
---

<style>
  .projects-group {
    gap: 1.5rem;
  }
</style>

<Layout title={title} isActive={isActive}>
  <Hero
    accentTitle="Conoce mis proyectos."
    title="Experiencia aplicada a problemas reales."
    description="Explora la colección de proyectos en los que participé con ideas y entregables de alta calidad."
  />
  <div class="projects-group flex-column">
    <NewProjectCard
      platform="Desktop"
      mockupFile="app-eleventa"
      businessName="eleventa 6"
      description="¡Próximamente!"
      pillText="Flutter App"
      pillIcon="code-square"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-lavva"
      businessName="LAVVA"
      description="Gym & Fitness"
      pillText="Landing page"
      pillIcon="pantone-color"
      href="https://www.instagram.com/p/DVtZ0lOgO_J/?utm_source=portfolio&utm_medium=proyectos"
    />
    <NewProjectCard
      platform="Mobile"
      mockupFile="app-unibetas"
      businessName="Unibetas"
      description="E-learning"
      pillText="Web App"
      pillIcon="internet-earth"
      href="https://www.instagram.com/p/DTJO7clkmUn/?utm_source=portfolio&utm_medium=proyectos"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-hemisferio"
      businessName="Hemisferio"
      description="Agencia"
      pillText="Landing page"
      pillIcon="pantone-color"
      href="https://www.behance.net/gallery/222837805/Landing-Page-for-Hemisferiopro?platform=direct&utm_source=portfolio&utm_medium=proyectos"
    />
    <NewProjectCard
      platform="Mobile"
      mockupFile="app-retorna"
      businessName="Retorna"
      description="Fintech"
      pillText="Flutter App"
      pillIcon="code-square"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-naut"
      businessName="NAUT"
      description="Salud visual"
      pillText="Landing page"
      pillIcon="pantone-color"
      href="https://www.instagram.com/p/DEa6NFpSWVR/?utm_source=portfolio&utm_medium=proyectos"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-mastermind"
      businessName="Mastermind"
      description="E-learning"
      pillText="Landing page"
      pillIcon="pantone-color"
      href="https://www.instagram.com/p/C3uSgaIurYC/?utm_source=portfolio&utm_medium=proyectos"
    />
  </div>
</Layout>
