---
interface Props {
  name: string;
  alt: string;
  size: number;
  rotate?: number;
}

const { name, alt, size, rotate } = Astro.props;
---

<style>
  .box-image {
    overflow: clip;
    aspect-ratio: 1/1;
    border-color: var(--bw-white);
    border-radius: var(--radii-medium);
    transition: transform 150ms ease;

    /* Ajustar efecto de negative gap directo en las pages */
    margin-top: var(--negative-gap);
    margin-left: var(--negative-gap);

    &:hover {
      /* Forzar rotate con el !important */
      transform: rotate(0deg) scale(1.1) !important;
    }
  }

  .box-image-element {
    width: 100%;
    height: 100%;
    border-radius: calc(inherit - var(--radii-medium));
  }
</style>

<div
  class="box-image flex-row shadow-medium stroke-large"
  style={`width: ${size}px; transform: rotate(${rotate ?? 0}deg);`}
>
  <img class="box-image-element" src={`/images/${name}.webp`} alt={alt} />
</div>
