---
import IconWrapper from './IconWrapper.astro';

interface Props {
  href: string;
  text: string;
  type?: "CTA" | "Light" | "Ghost" | "Link";
  size?: "MD" | "SM";
  nameIcon?: string;
  animation?: string | boolean;
  newPage?: boolean; /* Hacer que el enlace se abra en una nueva pestaña por default */
}
const { type = "CTA", size = "MD", href, text, nameIcon, animation, newPage } = Astro.props;
---

<style>
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    gap: 0.5rem;
    border-radius: var(--radii-full);
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &:hover {
        transform: translateY(-2px);
      }

    /* Variants */
    &.cta {
      --background-custom: hsl(233, 22%, 8%);
      --text-custom: hsl(226, 32%, 92%);

      background: var(--background-custom);
      color: var(--text-custom);
    }

    &.light {
      background: var(--semantic-surface-alt-low);
      color: var(--semantic-primary);

      &:hover {
        background: var(--semantic-surface-alt-medium);
      }
    }

    &.ghost {
      background: transparent;
      color: var(--semantic-primary);
      border: 1.5px solid var(--semantic-border-low);

      &:hover {
        background: var(--semantic-surface-alt-low);
      }
    }

    &.link {
      background: transparent;
      color: var(--semantic-secondary);

      &:hover {
        background: var(--semantic-surface-alt-low);
      }
    }

    /* Sizes */
    &.md {
      min-height: 2.5rem;
      padding-inline: 1rem;
      padding-block: 0.5rem;
      font-size: 1rem;
      letter-spacing: -0.02rem;
      font-weight: var(--weight-semibold);
      line-height: 150%;
    }

    &.sm {
      min-height: 2rem;
      padding-inline: 0.75rem;
      padding-block: 0.34rem;
      font-size: 0.875rem;
      letter-spacing: -0.0175rem;
      font-weight: var(--weight-semibold);
      line-height: 150%;
    }

    /* Animations */
    &.animation-false {
      &:hover {
        transform: none;
      }
    }
</style>

<a class="flex-row button" href={href} class:list={[type?.toLowerCase(), size?.toLowerCase(), `animation-${animation}`]} target={newPage === true ? "_blank" : "_self"}>
  {nameIcon && (
    <IconWrapper name={nameIcon} size={size === "MD" ? "20" : "16"} />
  )}
  {text}
</a>
