---
const { href, text } = Astro.props;
---

<style>
  .headerLink {
    background: var(--semantic-surface-alt-low);
    color: var(--semantic-primary);
    padding: 0.21875rem 0.625rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--radii-full);
    transition: all 200ms ease;

    &:hover {
      background: var(--semantic-surface-alt-medium);
    }

    p {
      color: inherit;
    }
  }
</style>

<a class="headerLink flex-row" href={href} target="_blank">
  <p class="body-small bold">{text}</p>
</a>
