---
import "../styles/global.css";
import HeaderLink from "./HeaderLink.astro";
---

<style>
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: linear-gradient(180deg, var(--semantic-on-surface-low) 50%, transparent 100%);
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .header-nav {
    gap: 0.5rem;
  }

  .header-profile {
    gap: 1rem;
    align-items: center;

    .header-profile {
      width: 2.5rem;
      aspect-ratio: 1/1;
      border-radius: var(--radii-small);
      border-color: var(--bw-white);
      overflow: clip;
      transition: transform 150ms ease-in-out;

      &:hover {
        transform: rotate(6deg) scale(1.1);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .header-profile {
      h2 {
        display: none;
      }
    }
  }

  @media screen and (max-width: 440px) {
    .header {
      padding: 1rem;
      padding-block-start: 1.5rem;
    }
  }
</style>

<header class="header flex-row">
  <div class="flex-row header-profile">
    <a href="https://uxluismx.com" class="flex-row header-profile stroke-medium shadow-medium">
      <img
        src="/images/imageProfile.webp"
        alt="Foto de perfil de Luis Erick"
        width="2.5rem"
        height="2.5rem"
      />
    </a>
    <h2 class="accent-smallest">Luis Erick M.</h2>
  </div>
  <nav class="flex-row header-nav">
    <HeaderLink href="https://www.instagram.com/uxluismx/" text="Instagram" />
    <HeaderLink href="https://www.linkedin.com/in/uxluismx/" text="Linkedin" />
    <HeaderLink
      href="https://mega.nz/file/zcJSUB6L#1voGSUdgXyxlbZwZePugbFI6ZADZnfls8AEKFT4TWeY"
      text="CV"
    />
  </nav>
</header>
