---
interface Props {
  accentTitle: string;
  title: string;
  description: string;
}

const { accentTitle, title, description } = Astro.props;
const beforeContent = Astro.slots.has("beforeContent");
const afterContent = Astro.slots.has("afterContent");
---

<style>
  .hero-section {
    gap: 1.5rem;

    .text-group {
      gap: 0.75rem;
      max-width: 30rem;

      h1 {
        color: var(--semantic-quaternary);
      }

      span {
        color: var(--semantic-zero);
      }
    }

    .slot-after-content {
      gap: 1.5rem;
    }

    .slot-before-content {
      gap: 1.5rem;
    }
  }
</style>

<section class="flex-column hero-section">
  {
    beforeContent && (
      <div class="flex-row slot-before-content">
        <slot name="beforeContent" />
      </div>
    )
  }
  <div class="flex-column text-group">
    <h1 class="display-large">
      <span class="accent-large">{accentTitle}</span><br />
      {title}
    </h1>
    <p class="body-large">
      {description}
    </p>
  </div>
  {
    afterContent && (
      <div class="flex-column slot-after-content">
        <slot name="afterContent" />
      </div>
    )
  }
</section>
