---
import Button from "./Button.astro";
const { text, href } = Astro.props;
---

<style>
  .navbar-link {
    width: inherit;
  }
</style>

<div class="flex-row navbar-link">
  <Button size="SM" type="Link" text={text} href={href} animation={false} />
</div>
