---
import Button from "./Button.astro";
---

<style>
  .navbar-link {
    width: inherit;
  }
</style>

<div class="flex-row navbar-link">
  <Button
    size="SM"
    type="Link"
    text={Astro.props.text}
    href={Astro.props.href}
  />
</div>
