---
import Button from "./Button.astro";

interface Props {
  isActive: "Inicio" | "Proyectos" | "Contacto";
}

const { isActive } = Astro.props;
---

<style>
  .navbar {
    width: fit-content;
    background: var(--bw-white);
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--radii-full);
  }

  & :global(.button) {
    min-width: 6rem;
  }
</style>

<nav class="flex-row navbar stroke-xsmall shadow-small">
  <Button
    size="SM"
    type={isActive === "Inicio" ? "CTA" : "Link"}
    text="Inicio"
    href="/"
    animation={false}
  />
  <Button
    size="SM"
    type={isActive === "Proyectos" ? "CTA" : "Link"}
    text="Proyectos"
    href="/proyectos"
    animation={false}
  />
  <Button
    size="SM"
    type={isActive === "Contacto" ? "CTA" : "Link"}
    text="Contacto"
    href="mailto:contacto@uxluismx.com"
    animation={false}
  />
</nav>
