---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<style>
  a {
    --transition: all 100ms ease;

    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--semantic-border-high);
    text-underline-offset: 0.25em;
    transition: var(--transition);

    &:hover {
      text-decoration-color: var(--semantic-zero);
      transition: var(--transition);
    }
  }
</style>

<a href={href} class="body-large color-zero" target="_blank">
  <slot />
</a>
