---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<style>
  a {
    --transition: all 100ms ease;

    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--blue-200);
    text-underline-offset: 0.25em;
    transition: var(--transition);
    color: var(--blue-600);

    &:hover {
      text-decoration-color: var(--blue-400);
      transition: var(--transition);
    }
  }
</style>

<a href={href} class="body-large bold" target="_blank"><slot /></a>
