---
import Layout from "../../layout/Layout.astro";
import Hero from "../../components/Hero.astro";
import NewProjectCard from "../../components/NewProjectCard.astro";

const isActive = "Proyectos";
const title = `${isActive} | Luis Erick`;
---

<style>
  .projects-group {
    gap: 1.5rem;
  }
</style>

<Layout title={title} isActive={isActive}>
  <Hero
    accentTitle="Mis proyectos."
    title="Dolores reales, soluciones viables."
    description="Explora los proyectos en los que colaboré con ideas y entregables de alta calidad."
  />
  <div class="projects-group flex-column">
    <!-- <NewProjectCard
      platform="Desktop"
      mockupFile="app-eleventa"
      businessName="eleventa 6"
      shortText="¡Próximamente!"
      pillText="Flutter App"
      pillIcon="code-square"
      slug="eleventa-6"
    /> -->
    <NewProjectCard
      platform="Mobile"
      mockupFile="app-retorna"
      businessName="Retorna"
      shortText="¡Próximamente!"
      pillText="Flutter App"
      pillIcon="code-square"
      slug="retorna"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-lavva"
      businessName="LAVVA"
      shortText="Gym & Fitness"
      pillText="Landing page"
      pillIcon="pantone-color"
      href="https://www.instagram.com/p/DVtZ0lOgO_J/?utm_source=portfolio&utm_medium=proyectos"
      slug="lavva"
    />
    <NewProjectCard
      platform="Mobile"
      mockupFile="app-unibetas"
      businessName="Unibetas"
      shortText="E-learning"
      pillText="Web App"
      pillIcon="internet-earth"
      href="https://www.instagram.com/p/DTJO7clkmUn/?utm_source=portfolio&utm_medium=proyectos"
      slug="unibetas"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-hemisferio"
      businessName="Hemisferio"
      shortText="Agencia"
      pillText="Landing page"
      pillIcon="pantone-color"
      href="https://www.behance.net/gallery/222837805/Landing-Page-for-Hemisferiopro?platform=direct&utm_source=portfolio&utm_medium=proyectos"
      slug="hemisferio"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-naut"
      businessName="NAUT"
      shortText="Salud visual"
      pillText="Landing page"
      pillIcon="pantone-color"
      href="https://www.instagram.com/p/DEa6NFpSWVR/?utm_source=portfolio&utm_medium=proyectos"
      slug="naut"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-mastermind"
      businessName="Mastermind"
      shortText="E-learning"
      pillText="Landing page"
      pillIcon="pantone-color"
      href="https://www.instagram.com/p/C3uSgaIurYC/?utm_source=portfolio&utm_medium=proyectos"
      slug="mastermind"
    />
  </div>
</Layout>
