---
import Layout from "../../layout/Layout.astro";
import Hero from "../../components/Hero.astro";
import NewProjectCard from "../../components/NewProjectCard.astro";

const title = "Proyectos | Luis Erick";
const isActive = "Proyectos";
---

<style>
  .projects-group {
    gap: 1.5rem;
  }
</style>

<Layout title={title} isActive={isActive}>
  <Hero
    accentTitle="Conoce mis proyectos."
    title="Experiencia aplicada a problemas reales."
    description="Explora la colección de proyectos en los que participé con ideas y entregables de alta calidad."
  />
  <div class="projects-group flex-column">
    <NewProjectCard
      platform="Desktop"
      mockupFile="app-eleventa"
      businessName="eleventa 6"
      description="¡Próximamente!"
      pillText="Flutter App"
      pillIcon="code-square"
      slug="eleventa-6"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-lavva"
      businessName="LAVVA"
      description="Gym & Fitness"
      pillText="Landing page"
      pillIcon="pantone-color"
      slug="lavva"
    />
    <NewProjectCard
      platform="Mobile"
      mockupFile="app-unibetas"
      businessName="Unibetas"
      description="E-learning"
      pillText="Web App"
      pillIcon="internet-earth"
      slug="unibetas"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-hemisferio"
      businessName="Hemisferio"
      description="Agencia"
      pillText="Landing page"
      pillIcon="pantone-color"
      slug="hemisferio"
    />
    <NewProjectCard
      platform="Mobile"
      mockupFile="app-retorna"
      businessName="Retorna"
      description="Fintech"
      pillText="Flutter App"
      pillIcon="code-square"
      slug="retorna"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-naut"
      businessName="NAUT"
      description="Salud visual"
      pillText="Landing page"
      pillIcon="pantone-color"
      slug="naut"
    />
    <NewProjectCard
      platform="Desktop"
      mockupFile="landing-mastermind"
      businessName="Mastermind"
      description="E-learning"
      pillText="Landing page"
      pillIcon="pantone-color"
      slug="mastermind"
    />
  </div>
</Layout>
