---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";

import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/favicon.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <Analytics />
    <title>{Astro.props.title}</title>
    <style>
      body {
        position: relative;
        margin-block-start: 1.5rem;
        margin-block-end: 6rem;
      }

      .main-container {
        max-width: 40rem;
        background: var(--semantic-on-surface-low);
        border-radius: var(--radii-large);
        margin: 0 auto;
        overflow: clip;
      }

      .slot-container {
        padding: 2rem;
        padding-block-start: 1rem;
        gap: 2rem;
      }

      #navbar {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 10;
        justify-content: center;
        padding-block-end: 1.5rem;
      }

      @media screen and (max-width: 640px) {
        body {
          margin-block-start: 0;
          background: var(--semantic-on-surface-low);
          margin-block-end: 4.5rem;
        }

        .main-container {
          border-radius: 0;
          border: none;
          box-shadow: none;
        }
      }

      @media screen and (max-width: 440px) {
        .main-container {
          & > * {
            padding: 1rem;
          }
        }

        #navbar {
          padding-block-end: 1rem;
        }
      }
    </style>
  </head>

  <body>
    <main class="main-container flex-column stroke-xsmall shadow-small">
      <Header />
      <div class="slot-container flex-column">
        <slot />
      </div>
    </main>
    <!-- <div id="navbar" class="flex-row">
      <Navbar />
    </div> -->
  </body>
</html>
<SpeedInsights />
